body{
    background-image: url("Untitled-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#userInput{
    position: fixed;
    left: 35vw;
    top: 28vw;
    padding: 1vw 10vw;
    font-size: x-large;
}

#submitOrder{
    position: fixed;
    left: 46vw;
    top: 35vw;
    padding: 1.7vw 4vw;
}

#reset{
    position: fixed;
    left: 46vw;
    top: 42vw;
    padding: 1.7vw 4vw;
}

#menu{
    position: fixed;
    left: 75vw;
    top: 27.5vw;
    padding: 2.0vw 5vw;
}